@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Macondo&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

h1,
h2 {
  font-family: "Montserrat", "Times New Roman", serif;
}

h1 {
  font-size: 3vw;
  font-weight: 700;
}

h2 {
  font-size: 1.5vw;
  font-weight: 600;
}

h3 {
  font-family: "Macondo", fantasy, serif;
  font-size: 1.5vw;
}

a:link {
  color: #a9cef4;
  text-decoration: none;
}
a:visited {
  color: #7ea0b7;
}
a:hover {
  color: #597081;
  text-decoration: underline;
}

a:active {
  color: #9e79d5;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.image {
  max-width: 30%;
  height: auto;
}

main,
header {
  width: 75%;
  padding-left: 1em;
  padding-top: 3em;
  font-family: inter, Arial, sans-serif;
  font-size: 1rem;
}

.menu {
  background-color: #36494ef0;
  padding: 3em 2em 0.8em;
  margin-top: -2em;
  margin-left: -2em;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: inter, "Times New Roman", sans-serif;
}

.recipe {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  background-color: #faebd7bf;
  padding: 1em;
  border: solid 0.1em #00000010;
  border-radius: 10px;
  margin: 1em;
}

.steps {
  padding: 1em;
  border: solid 0.1em #00000010;
  border-radius: 10px;
  margin: 1em;
  flex: 1 3 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #36494ef0;
  border-top: 0.1em solid #000000;
  padding-bottom: 1em;
  color: white;
  width: 100%;
  margin: 0em;
  font-family: inter, "Times New Roman", sans-serif;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-nav li {
  display: inline-block;
  height: auto;
  width: 20vw;
  padding: 2em;
  margin: 0.5em;
}
